[user]
    name = Martin Frausing
    email = martin.z.frausing@teliacompany.com

[alias]
    st = status
    ci = commit
    br = branch
    co = checkout
    d = -c diff.noprefix=true diff --relative
    dc = -c diff.noprefix=true diff --relative --cached 
    dws = -c diff.noprefix=true diff --relative --ignore-all-space
    commitdiff = !git show --color --pretty=format:%b
    stashed = stash list --stat --pretty=format:'%gd: %Cred%h%Creset %Cgreen[%ar]%Creset %s'
    lasttag = !git tag -l 'release-*' --sort=-taggerdate | head -n 1
    colasttag = !git co `git lasttag`
    lg = log --decorate
    patch = !git --no-pager diff --no-color
    hardclear = !git reset --hard && git clean -fd
    anw = !git diff -U0 -w --no-color -- \"$@\" | git apply --cached --ignore-whitespace --unidiff-zero "#"
    rollback = !git reset --soft HEAD~ && git status
    ar = commit --amend --reuse-message HEAD # amend reuse
    #alias = config --get-regexp ^alias\\.
    cistat = shortlog -s -n --all --no-merges
    current-branch = rev-parse --abbrev-ref HEAD
    track = !git branch --set-upstream-to=origin/$(git current-branch)
    #ignore changes to files
    ignore = update-index --assume-unchanged
    unignore = update-index --no-assume-unchanged
    ignored = !git ls-files -v | grep "^[[:lower:]]"

[core]
    #pager = delta
    #pager = delta --plus-color="#012800" --minus-color="#340001" --syntax-theme='OneHalfLight'
    #pager = delta --syntax-theme='Solarized (light)'
    excludesfile = ~/.gitignore
    untrackedCache = true
    commitGraph = true
    #editor = /usr/bin/vim
    #editor = giteditor.pl
    # use --no-pager diff to avoid
    #enable pager = diff-so-fancy | less --tabs=4 -RFX
    #pager = diff-so-fancy | less --tabs=4 --pattern '^(Date|added|deleted|modified): ' -RFX

[pager]
    diff = delta --syntax-theme='Solarized (light)'
    log = delta --syntax-theme='Solarized (light)'
    reflog = delta --syntax-theme='Solarized (light)'
    show = delta --syntax-theme='Solarized (light)'

[help]
    autocorrect = 30

[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green

[color "status"]
    added = yellow
    changed = green
    untracked = cyan

[push]
    # default = upstream
    default = current
    followTags = true
    verbose = 

[merge]
    stat = true
    conflictstyle = diff3

[rebase]
    stat = true
    autoStash = true
    abbreviateCommands = true

[url "git@git.dk.telia.net:automation"]
    insteadOf = teliaauto:

#[rerere]
#       enabled = true
[log]
    abbrevCommit = true
    follow = true
    date = auto:human

[diff]
    mnemonicprefix = true

[stash]
    showPatch = true

[pull]
    rebase = true

[color]
    ui = true

[status]
    relativePath = true

[delta]
    syntax-theme = 'Solarized (light)'
    theme = 'Solarized (light)'
    line-numbers = true
    side-by-side = true
    #plus-color = "#012800"
    #minus-color = "#340001"

[interactive]
    diffFilter = delta --color-only

[diff-so-fancy]
    markEmptyLines = false

[color "diff-highlight"]
    oldNormal = red bold
    oldHighlight = red bold 52
    newNormal = magenta bold
    newHighlight = magenta bold 22

[color "diff"]
    meta = yellow
    frag = magenta bold
    commit = yellow bold
    old = red bold
    new = magenta bold
    whitespace = red reverse

[gc]
    writeCommitGraph = true

[fetch]
    writeCommitGraph = true

[include]
    path = ~/.gitconfig.local
